/*
 * Copyright 2023-2025 The ThunderID Authors
 * SPDX-License-Identifier: Apache-2.0
 */

.start.MuiFab-root {
  z-index: 0;
  pointer-events: none;
  color: var(--oxygen-palette-common-white);
  border-radius: 30px;
  background: #63a9f3;
  box-shadow: none;
  padding: 0 2em;
}
