server:
  hostname: "localhost"
  port: 8090
  http_only: true

security:
  cert_file: "repository/resources/security/server.cert"
  key_file: "repository/resources/security/server.key"

database:
  identity:
    type: "sqlite"
    path: "repository/database/thunderdb.db"
    options: "_journal_mode=WAL&_busy_timeout=5000"
    max_open_conns: 500
    max_idle_conns: 100
    conn_max_lifetime: 3600

  runtime:
    type: "sqlite"
    path: "repository/database/runtimedb.db"
    options: "_journal_mode=WAL&_busy_timeout=5000"
    max_open_conns: 500
    max_idle_conns: 100
    conn_max_lifetime: 3600

gate_client:
  hostname: "localhost"
  port: 5190
  scheme: "https"
  login_path: "/signin"
  error_path: "/error"

cors:
  allowed_origins:
    - "https://localhost:3000"
    - "http://localhost:6274"
    - "http://localhost:5190"
    - "https://localhost:5190"

