/*
 * Copyright 2025 The ThunderID Authors
 * SPDX-License-Identifier: Apache-2.0
 */

@keyframes error-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--oxygen-palette-error-mainChannel) / 1);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(var(--oxygen-palette-error-mainChannel) / 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--oxygen-palette-error-mainChannel) / 0);
  }
}

@keyframes warning-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--oxygen-palette-warning-mainChannel) / 1);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(var(--oxygen-palette-warning-mainChannel) / 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--oxygen-palette-warning-mainChannel) / 0);
  }
}

.validation-error-boundary {
  position: relative;
  background-color: transparent;
  border: 2px solid transparent;

  .circle-alert-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: #1a1a1a;
    z-index: 10;

    [data-color-scheme='light'] & {
      background-color: #fff;
    }
  }

  &.padded {
    border-radius: 10px;
  }

  &.error {
    border-color: var(--oxygen-palette-error-main);
    animation: error-pulse 1s infinite;

    [data-color-scheme='light'] & {
      border-color: rgba(var(--oxygen-palette-error-mainChannel) / 0.7);
    }

    .circle-alert-icon {
      stroke: var(--oxygen-palette-error-main);

      [data-color-scheme='light'] & {
        stroke: rgba(var(--oxygen-palette-error-mainChannel) / 0.8);
      }
    }
  }

  &.warning {
    border-color: var(--oxygen-palette-warning-main);
    animation: warning-pulse 1s infinite;

    .circle-alert-icon {
      stroke: var(--oxygen-palette-warning-main);
    }
  }

  &.info {
    border-color: var(--oxygen-palette-info-main);
    background-color: var(--oxygen-palette-info-light);

    .circle-alert-icon {
      stroke: var(--oxygen-palette-info-main);
    }
  }
}
