/*
 * Copyright 2025 The ThunderID Authors
 * SPDX-License-Identifier: Apache-2.0
 */

.flow-builder-validation-status-labels {
  .error-button,
  .warning-button,
  .info-button {
    border-radius: 16px;
    min-width: 0;
    width: fit-content;
    padding: 0px 8px;
  }
}
