/*
 * Copyright 2025 The ThunderID Authors
 * SPDX-License-Identifier: Apache-2.0
 */

.flow-builder-step {
  .flow-builder-step-content {
    .adapter.block-adapter {
      width: 100%;
      display: block;

      // Style for button adapters directly inside block-adapter
      .adapter.button-adapter {
        width: 100%;
        position: relative;
      }
    }
  }
}
