/*
 * Copyright 2026 The ThunderID Authors
 * SPDX-License-Identifier: Apache-2.0
 */

@use '../../../../styles/variables';

.flow-builder-step {
  .flow-builder-step-content {
    .adapter.form-adapter {
      width: 100%;
      display: block;
      min-height: 80px;
      border-radius: calc(2 * var(--oxygen-shape-borderRadius));
      border: 1px dashed var(--oxygen-palette-divider);
      background-color: var(--oxygen-palette-background-paper);

      .flow-builder-dnd-droppable {
        padding: var(--flow-builder-spacing-3) 0;
      }

      .MuiBadge-badge {
        margin-left: 25px;
        background-color: var(--oxygen-palette-background-default);
        color: var(--oxygen-palette-text-secondary);
        font-weight: 500;
      }

      .form-adapter-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--oxygen-palette-action-hover);
        border: 2px dashed var(--oxygen-palette-divider);
        border-radius: 4px;
        min-height: 80px;
        padding: 16px;
        margin: 16px;
        transition:
          background-color 200ms cubic-bezier(0.2, 0, 0, 1),
          border-color 200ms cubic-bezier(0.2, 0, 0, 1);

        &:hover {
          background-color: var(--oxygen-palette-action-selected);
          border-color: var(--oxygen-palette-divider);
        }
      }

      .flow-builder-step-content-form-field {
        margin-left: 0 !important;
        transition:
          opacity 200ms cubic-bezier(0.2, 0, 0, 1),
          transform 200ms cubic-bezier(0.2, 0, 0, 1),
          box-shadow 200ms cubic-bezier(0.2, 0, 0, 1);
        will-change: transform;
        transform: translate3d(0, 0, 0);

        &.is-dragging {
          background: var(--oxygen-palette-background-paper);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          opacity: 0.9;
          transform: scale(1.02);
          z-index: 1;
        }
      }
    }
  }
}
